<h1>{{title}}</h1>

<style>
    .keyboard-button {
        margin: 10px;
    }
</style>

<div>
    {{#each keyTable}}
        <button class="keyboard-button" onclick="sendKey('{{this}}')">{{this}}</button>
    {{/each}}
</div>

<script>
    function sendKey(key) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/keyboard/" + key, true);
        xhttp.send();
    }
</script>
